@charset "utf-8";
/***************** Template Landing *****************/
/***************** DEFAULT        *******************/
*					{ margin:0; padding:0; border:0; outline:0;}
html, body			{ }
/** COLORS 		**/
.colorWhite			{ background-color:#F0EFEA; }
.colorGray			{ color:#2C3C39; }
.colorGrayBG		{ background-color:#2C3C39; color:#F0EFEA; }
.colorONE			{ background-color:#34495e;}
.colorTWO			{ background-color:#3498db;}
.colorTHREE			{ background-color:#1abc9c;}
.colorFOUR			{ background-color:#95a5a6;}
.colorFIVE			{ background-color:#e74c3c;}
.colorSIX			{ background-color:#f39c12;}
/** BUTTONS     **/
.button				{ border:1px solid #2C3C39; background-color:rgba(255,130,25,.0); border-radius:5px; font-family: 'Montserrat', sans-serif;}
.buttonExclusive	{ border:1px solid #2C3C39; background-color:#2C3C39; color:#F0EFEA; border-radius:5px; font-family: 'Montserrat', sans-serif;} 
.button:hover			{ }
.buttonExclusive:hover  { background-color:#5FA277;} 
/** HEADINGS      */
.Heading				{ font-family: 'Baloo Tamma', cursive; color:#2C3C39}
/***************** Default Styles *******************/
/* N A V I G A T I O N       */
.navbar-custom					 													{ background-color:#F0EFEA;}
.navbar-nav li a			 														{ color:#2C3C39; font-family: 'Montserrat', sans-serif; }
.navbar-nav li a span		 														{ color:#F00; font-family: 'Montserrat', sans-serif;}
.navbar-custom .navbar-brand 														{ color:#2C3C39; font-family: 'Courgette', cursive; } 
	 /*NAVIGATION HOVER SETTINGS*/
.navbar-custom .navbar-brand:hover 													 { color:#2C3C39;} 
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus { background-color: #F0EFEA;  color: #2C3C39; }
.navbar-custom .navbar-nav > .active												 { color:#FFF; background:#fff; }
.navbar-custom .navbar-nav > .active a 												 { color:#FFF;  background:#FC4646; }
	 /*NAVIGATION HOVER SETTINGS (END)*/
/* N A V I G A T I O N (END) */
/* WELCOME BANNER			 */
#WelcomeBannerCF				{ background-color:#F0EFEA; }
#WelcomeBannerContainer			{ }
#WelcomeBannerColumnSix			{ text-align:center;}
#WelcomeBannerColumnSix	 img	{}
#WelcomeBannerColumnSix	 h1		{ padding:0px; margin:0px}
#WelcomeBannerColumnSix	 p	span{ color:#F00; padding:0px; margin:0px}
#WelcomeBannerColumnSix	 p		{ font-family: 'Montserrat', sans-serif; padding:0px; margin:0px}
/* WELCOME BANNER	(END)    */
/* SECTION ONE				 */
#SectionOneContainer			{ margin-top:60px; margin-bottom:60px;}
#SectionOneColumn				{ }
#SectionOneColumnFour			{ }
#SectionOneColumnFour img		{ }
#SectionOneColumnSix h2			{ }
#SectionOneColumnSix ul li		{ color:#F00; list-style-type:none; font-family: 'Montserrat', sans-serif;}
#SectionOneColumnSix ul li	span {}
#SectionOneColumnSix p			{ font-family: 'Montserrat', sans-serif; text-align:justify;}
#ColumnSixSmallColumn			{ text-align:center;}
#ColumnSixSmallColumn	img		{ }
#ColumnSixSmallColumn	p span	{ color:#F00; text-align:center; }
#ColumnSixSmallColumn	p		{ font-family: 'Montserrat', sans-serif; text-align:center; font-weight:bold;}
/* SECTION ONE		(END)	 */
/* SQUARES					 */
#SquaresCF						{ }
#SquaresRow						{ }
#SquaresColumn					{ padding:0px;}
#SquaresColumn	h5				{ color:#FFF; font-weight:bold; font-family: 'Audiowide', cursive;}
#SquaresColumn	p				{ color:#FFF; font-family: 'Montserrat', sans-serif;}
#SquaresColumn	img				{ }
/* SQUARES			(END)	 */
/* SECTION TWO				 */
#SectionTwoContainer			{ }
#SectionTwoColumn				{ text-align:center;}
#SectionTwoColumn h2			{}
#SectionTwoColumn p span		{ }
#SectionTwoColumn img			{ }
#SectionTwoColumn p				{ font-family: 'Montserrat', sans-serif;}
/* SECTION TWO		(END)    */
/* SALE BANNER				 */
#SaleBannerCF					{  background-color:#5FA277;}
#SaleBannerContainer			{}
#SaleBannerRow					{}
#SaleBannerColumn				{}
#SaleBannerColumn	img			{}
.SaleBannerHeading				{ font-family: 'Baloo Tamma', cursive;}
.SaleBannerP					{ font-family: 'Montserrat', sans-serif;}
#SaleBannerColumn ul 			{ display:inline-block}
#SaleBannerColumn ul li			{ list-style-type:none; float:left;}
#SaleBannerColumn ul li img		{ float:left;}
#SaleBannerColumn ul li	p		{ font-family: 'Baloo Tamma', cursive; color:#fff;}
#SaleBannerColumn	p			{  }
#SaleBannerColumn	p	span	{ font-family: 'Montserrat', sans-serif; color:#fff}
/* SALE BANNER		(END)	 */
/* PRODUCTS                  */
#ProductContainer			{ margin-top:100px; margin-bottom:100px; }
#ProductRow					{}
#ProductColumn				{}
.col-item					{    border: 1px solid #E1E1E1; border-radius: 5px; background: #F0EFEA; }
.col-item .photo img		{	 margin: 0 auto; width: 100%;}
.col-item .info				{	 padding: 10px; border-radius: 0 0 5px 5px; margin-top: 1px;}
.col-item:hover .info 		{    background-color: #B1D691;}
.col-item .price			{   /*width: 50%;*/   float: left;   margin-top: 5px;}
.col-item .price a			{    line-height: 20px;    margin: 0; font-weight:bold; color:#2C3C39;}
.col-item .price p			{    line-height: 20px;    margin: 0; }
.col-item .price a:hover	{    text-decoration:none; }
.col-item .price h5			{    line-height: 20px;    margin: 0; }
.price-text-color			{	  color: #219FD1; }
.col-item .info .rating		{     color: #777;   }
.col-item .rating			{    /*width: 50%;*/  float: left; font-size: 17px; text-align: right; line-height: 52px;  margin-bottom: 10px; height: 52px; }
.col-item .separator		{    border-top: 1px solid #E1E1E1; }
.clear-left					{    clear: left; }
.col-item .separator p		{    line-height: 20px;    margin-bottom: 0;    margin-top: 10px;    text-align: center; }
.col-item .separator p i	{    margin-right: 5px; }
.col-item .btn-add			{	 width: 50%;    float: left; }
.col-item .btn-add			{    border-right: 1px solid #E1E1E1; }
.col-item .btn-details		{    width: 50%;    float: left;    padding-left: 10px; }
.controls					{    margin-top: 20px; }
[data-slide="prev"]			{    margin-right: 10px; }
/* PRODUCTS         (END)    */
/* INPUT ADDRESS			 */
#InputAddressCF					{ }
#InputAddressLeft				{ background-color:#B1D691; }
#InputAddressLeft p span		{ color:#fff; font-weight:bold; font-family: 'Acme', sans-serif;}
#InputAddressLeft p 			{ text-align:justify; color:#fff; font-family: 'Montserrat', sans-serif; }
#InputAddressRight				{ background-color:#5FA277; text-align:right; }
#InputAddressRight p span		{ color:#fff; font-weight:bold; font-family: 'Acme', sans-serif;}
#InputAddressRight p 			{ color:#fff; font-family: 'Montserrat', sans-serif;}
#InputAddressRight ul li		{ list-style-type:none; color:#fff; font-family: 'Montserrat', sans-serif; }
.InputAddressInput				{ font-family: 'Montserrat', sans-serif;}
.InputAddressSubmit				{ background-color:#5FA277; border:1px solid #fff; color:#fff; font-family: 'Montserrat', sans-serif;}
/* INPUT ADDRESS	(END)	 */
/* DIABETES					 */
#DiabetesCF						{ background-color:#F0EFEA; }
#DiabetesContainer				{ }
#DiabetesColumn					{ }
#DiabetesRow					{ }
#DiabetesRow	h2				{ text-align:center;}
#DiabetesRow	p	span		{ font-weight:bold; font-family: 'Montserrat', sans-serif; }
#DiabetesRow	p				{ color:#000;  font-family: 'Montserrat', sans-serif; }
.circle							{ background-color:#5FA277; border-radius:50px; float:left; }
/* DIABETES			(END)    */	
/* FOOTER					 */
#FooterCF				{ background-color:#5FA277;}
#FooterRow				{ }
#FooterColumn			{ }
#FooterColumn	p		{ }
.FooterHeading			{ color:#fff; font-family: 'Baloo Tamma',sans-serif; text-align:center; }
.FooterHeadingLine		{ color:#2C3C39; font-family: 'Montserrat', sans-serif; text-align:center; }
.FooterHeadingTwo		{ color:#fff; font-family: 'Baloo Tamma',sans-serif; text-align:center; }
.FooterHeadingThree		{ color:#fff; font-family: 'Baloo Tamma',sans-serif; text-align:center; }
footer					{ background-color:#2C3C39; }
footer p				{ color:#fff; font-family: 'Courgette', cursive; }
footer p span			{ color:#fff; font-family: 'Montserrat', sans-serif; }
/* FOOTER			(END)	 */

